@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background: #456;
  font-family: 'Open Sans', sans-serif;
}

.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}


.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

.login-header {
  background-color: #37c0d2;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login button {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

button{
  background: #fff;
  border-color: #bbb;
  color: #555;
}



button {
  background: #37c0d2;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background: #17c;
}

/* Buttons' focus effect */
button:focus {
  border-color: #05a;
}