<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>

<body>

    <div class="row" id="msjbienvenida">
        <p class="text-center"><i class="fas fa-hospital-user"></i> BIENVENIDO <span
                style="color: rgb(21, 57, 66);">{{final | uppercase}}</span></p>
    </div>

    <div class="info-pac">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" colspan="2" class="text-center">Información del Paciente</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Nombre Completo</th>
                    <td class="text-left"></td>
                </tr>
                <tr>
                    <th scope="row">Usuario</th>
                    <td class="text-left">{{final}}</td>
                </tr>
                <tr>
                    <th scope="row">Correo Electrónico</th>
                    <td class="text-left">Mark</td>
                </tr>
                <tr>
                    <th scope="row">Edad</th>
                    <td class="text-left">Mark</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center">
        <button type="button" class="btn btn-success">Iniciar Consulta Virtual</button>
    </div> <br>
    <div class="text-center">
        <button type="button" class="btn btn-warning"><a style="text-decoration: none;" [routerLink]="['/enfermera']" >Ir con Enfermera</a></button>
    </div> <br>

</body>