<section style="padding-top: 18px;" class="about" id="about">
  <div class="container">
      <div class="heading text-center">
          <h2>Sobre
              <span>Nosotros</span></h2>
          <p>Servicios médico especializado en consulta médica de calidad, contamos
              <br>
              con los médicos y enfermeros (as) mejor capacitados.
          </p>
      </div>
      <div class="row">
          <div class="col-lg-6">
              <img src="https://blog.agendapro.com/hubfs/administraci%C3%B3n%20consultorio-1.png" alt="about" class="img-fluid" width="100%">
          </div>
          <div class="col-lg-6">
              <h3>Doctor Code</h3>
              <p>Crear y sostener un sistema integral de salud privada, que ofrezca un espacio de crecimiento y desarrollo profesional enfocado en la excelencia y calidez en la asistencia al paciente y su familia.</p> <br>
              <strong>Misión</strong>
              <p>Satisfacer de manera eficaz y eficiente las necesidades de cuidado de salud de la comunidad.
                Brindar a toda la comunidad la mejor atención medica basada en la evidencia científica y contenido ético, acompañando al paciente y su familia.</p> <br>
                <strong>Visión</strong>
                <p>Satisfacer de manera eficaz y eficiente las necesidades de cuidado de salud de la comunidad.
                    Brindar a toda la comunidad la mejor atención medica basada en la evidencia científica y contenido ético, acompañando al paciente y su familia.</p>
          </div>
      </div>
  </div>
</section>